<div class="cointainer">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="email"
            placeholder="Email"
            id="email"
            formControlName="email"
            class="form-control">
          <span
            *ngIf="signInForm.get('email').invalid && signInForm.get('email').touched"
            class="help-block">Please enter a valid email!</span>
        </div>
        <div class="form-group">
          <label for="password">Enter your password*</label>
          <input
            type="password"
            placeholder="Password"
            id="password"
            formControlName="password"
            class="form-control">
          <span
            *ngIf="signInForm.get('password').invalid && signInForm.get('password').touched"
            class="help-block">Password field must not be empty!</span>
        </div>
        <!---->
        <button
          [disabled]="signInForm.invalid && signInForm.touched"
          type="submit"
          class="btn btn-outline-info"
        >Sign In
        </button>
        <span
          *ngIf="signInForm.invalid && signInForm.touched"
          class="help-block">Please enter a required data!</span>
      </form>
    </div>
  </div>
</div>
