:host {
  font-family: 'Juice', sans-serif;
  padding: 30px 40px 20px;
  display: block;
  color: #34495e;
}

.logo{
  cursor: pointer;
}
.logo img {
  height: 50px;
}

.logo h1 {
  margin: 7px 10px 0;
  font-family: "Juice", sans-serif;
  position: relative;
  font-size: 42px;
}

nav button {
  width: 100%;
}

.dropdown-form {
  min-width: 320px;
  /*text-align: ;*/
}

.dropdown-menu {
  color: #34495e;
}

.dropdown-menu h3 {
  margin: 0;
  text-align: center;
}

.user-data a {
  color: #34495e;
  text-decoration: none;
}

.user-data-login {
  padding: 10px 25px 8px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Juice", sans-serif;
}

.user-data img {
  height: 50px;
  width: 50px;
}
