<div class="d-flex flex-row justify-content-between align-items-center row">
  <div (click)="goToMain()" class="logo d-flex flex-row justify-content-start align-items-start col-7 col-lg-7">
    <img src="../../assets/image/tree_logo.svg" alt="logo img">
    <h1>Tic Tac Toe</h1>
  </div>
  <nav *ngIf="!user" class="d-flex flex-row justify-content-end offset-1 col-4">
    <div class="col-4" dropdown #dropdownSingIn="bs-dropdown" [autoClose]="false" [isOpen]="signInStatus.isopen"
         (isOpenChange)="changeSignIn($event)" placement="top right">
      <button dropdownToggle type="button" class=" btn btn-info ">Sing In</button>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-form" role="menu">
        <li role="menuitem">
          <h3>Sign In</h3>
        </li>
        <li role="menuitem">
          <app-sign-in (closeDropdown)="dropdownSingIn.hide()"></app-sign-in>
        </li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#" (click)="dropdownSingIn.hide()">Close</a>
        </li>
      </ul>
    </div>
    <div class="col-4" dropdown #dropdownsignUp="bs-dropdown" [autoClose]="false" [isOpen]="signUpStatus.isopen"
         (isOpenChange)="changeSignUp($event)" placement="top right">
      <button dropdownToggle type="button" class="btn btn-info ">Sing Up</button>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-form" role="menu">
        <li role="menuitem">
          <h3>Sign Up</h3>
        </li>
        <li role="menuitem">
          <app-sign-up (closeDropdown)="dropdownsignUp.hide()"></app-sign-up>
        </li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#" (click)="dropdownsignUp.hide()">Close</a>
        </li>
      </ul>
    </div>
  </nav>
  <div *ngIf="user" class="d-flex flex-row align-items-end justify-content-end offset-1 col-4 user-data">
    <div class="user-data-login">
      <a href="/#">{{ user?.login }}</a>
    </div>
    <div>
      <!--<img [src]="user?.avatar" [alt]="user?.login">-->
      <img src="../../assets/image/user.png" [alt]="user?.login">
    </div>
  </div>
</div>

