<div class="footer d-flex flex-sm-column flex-md-row justify-content-between align-items-center">
  <button class="large btn btn-outline-info contact-me">
    <a [routerLink]="['/','contact-me']">Contact me</a>
  </button>
  <div class="footer-links d-flex flex-sm-column flex-md-row justify-content-between">
    <span>Call me: +380993870046</span>
    <a [routerLink]="['/','about-me']">About me</a>
    <a [routerLink]="['/','contacts']">Contacts</a>
    <a [routerLink]="['/','my-portfolio']">My portfolio</a>
  </div>
</div>

