:host {
  display: block;
  overflow: hidden;
}

.footer {
  width: 100%;
  height: 60px;
  border-top: 3px solid #34495e;
  margin: 10px 0 0;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 5%;
  font-family: 'Roboto', sans-serif;
}

.contact-me {
  width: 20%;
}

.footer-links {
  width: 50%;
}

.contact-me a,
.footer-links a,
.footer-links span {
  color: #138496;
  text-decoration: none;
}
