<div>
  <button class="btn" (click)="returnBack()">Back</button>
</div>
<div>
  <h4>Choose game difficulty</h4>
  <button
    class="btn "
    [ngClass]="!currentDifficulty ? 'btn-warning' : 'btn-outline-warning'"
    (click)="setGameDifficult(false)"
  >Easy
  </button>
  <button
    class="btn"
    [ngClass]="currentDifficulty ? 'btn-info' : 'btn-outline-info'"
    (click)="setGameDifficult(true)"
  >Difficult</button>
</div>
