<div class="game-modes">
    <header>
        <h3>Game mode</h3>
    </header>
    <div [ngSwitch]="gameMode">
        <div *ngSwitchCase="''">
            <h4>Choose game mode:</h4>
            <button class="btn " (click)="setGameMode('Computer')">With Computer</button>
            <button class="btn " (click)="setGameMode('Human')">With Human</button>
        </div>
        <div *ngSwitchCase="'computer'">
            <app-play-with-computer (goBack)="setGameMode('notChose')"></app-play-with-computer>
        </div>
        <div *ngSwitchCase="'human'">
          <app-user-list (goBack)="setGameMode('notChose')"></app-user-list>
        </div>
    </div>
</div>
