:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background: #EAEAEA;
}

main {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  overflow: hidden;
  padding: 0 3%;
  background: #EAEAEA;
}

.main-content {
  width: 100%;
}

.content {
  display: block;
  background: #EAEAEA;
  padding: 5px 10px;
  color: #138496;
  font-family: 'Roboto', sans-serif;
}

footer {
  flex: 0 0 auto;
  background: #EAEAEA;
}

.header {
  height: 40px;
  background: #EAEAEA;
  color: #138496;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 2px;
}

.menu-icon img {
  height: 25px;
  cursor: pointer;
}

.search {
  width: 70%;
}

.search input[type='text'] {
  background: #EAEAEA;
  border: none;
  font-family: 'Juice', sans-serif;
  color: #138496;
  font-size: 14px;
  outline: none;
  border-radius: 3px;
  height: 32px;
  width: 100%;
  line-height: 23px;
  padding-left: 5px;
}

input::-webkit-input-placeholder {
  color: #128596;
}

.search input[type='text']:focus::-webkit-input-placeholder {
  color: #0da8bf
}

.menu-settings img {
  height: 30px;
  cursor: pointer;
}
