<header>
  <app-header></app-header>
</header>
<main>
  <div class="row main-content">
    <div class="col-4">
      <div class="header d-flex flex-row align-items-center justify-content-around">
        <a class="menu-icon" [routerLink]="['/']"><img src="../../assets/image/menu-icon.svg" alt=""></a>
        <div class="search">
          <input type="text" placeholder="Search">
        </div>
        <a class="menu-settings" [routerLink]="['/', 'settings']"><img src="../../assets/image/settings-icon.svg"
                                                                       alt=""></a>
      </div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="col-5">
      <app-game-field></app-game-field>
    </div>
    <div class="col-3">
      <app-game-options></app-game-options>
    </div>
  </div>
</main>
<footer>
  <app-footer></app-footer>
</footer>


