<div class="cointainer">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="login">Enter your login*</label>
          <input
            type="text"
            placeholder="Login"
            id="login"
            formControlName="login"
            class="form-control">
          <span
            *ngIf="signUpForm.get('login').invalid && signUpForm.get('login').touched"
            class="help-block">Please enter a valid username!</span>
        </div>
        <div class="form-group">
          <label for="email">Enter your e-mail*</label>
          <input
            type="email"
            placeholder="Email"
            id="email"
            formControlName="email"
            class="form-control">
          <span
            *ngIf="signUpForm.get('email').invalid && signUpForm.get('email').touched"
            class="help-block">Please enter a valid email!</span>
        </div>
        <div class="form-group">
          <label for="password">Enter your password*</label>
          <input
            type="password"
            placeholder="Password"
            id="password"
            formControlName="password"
            class="form-control">
          <span
            *ngIf="signUpForm.get('password').invalid && signUpForm.get('password').touched"
            class="help-block">Password field must not be empty!</span>
        </div>
        <div class="form-group">
          <label for="conf-password">Confirm your password*</label>
          <input
            type="password"
            placeholder="Confirm password"
            id="conf-password"
            formControlName="conf-password"
            class="form-control">
          <span
            *ngIf="signUpForm.get('password').value !== signUpForm.get('conf-password').value"
            class="help-block">Passwords do not match!</span>
          <span
            *ngIf="signUpForm.get('conf-password').invalid && signUpForm.get('conf-password').touched"
            class="help-block">Confirm your password please!</span>
        </div>
        <div class="form-group">
          <label>Upload avatar (5mb)</label>
          <label for="avatar" class="file-upload">
            File
            <input
              type="file"
              [size]="maxImageSize"
              id="avatar"
              formControlName="avatar"
              (change)="previewImage($event)"
              accept="image/*"
            />
          </label>
          <label class="file-upload" (click)="resetFile()">Reset</label>
          <div class="d-flex flex-row justify-content-between">
            <span class="avatar-file" *ngIf="avatar">{{avatar?.name}}</span>
            <span class="avatar-file" *ngIf="avatar"> {{ countRudeImageSize(avatar?.size)}} MB</span>
          </div>
          <div>
            <span *ngIf="avatar && avatar?.size > maxImageSize" class="help-block">Too big! Load smaller image</span>
          </div>
        </div>
        <!---->
        <button
          [disabled]="signUpForm.invalid && signUpForm.touched"
          type="submit"
          class="btn btn-outline-info"
        >Sing Up
        </button>
        <span
          *ngIf="signUpForm.invalid && signUpForm.touched"
          class="help-block">Please enter a required data!</span>
      </form>
    </div>
  </div>
</div>
