:host {
  display: block;
  margin: 0 4%;
  font-size: 14px;
  color: #34495e;
}

input[type="file"] {
  display: none;
}
.form-group {
  margin-bottom: 5px;
  color: #34495e;
}
.form-control{
  color: #34495e;
}

.file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.help-block {
  color: #f44336;
  white-space: normal;
}

input.ng-invalid.ng-touched {
  border: 1px solid #f44336;
}

label.invalid {
  color: #f44336;
}
.avatar-file{
  display: inline-block;
  max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
