.wrapper {
  margin: 0 auto;
  color: #34495e;
}

.info-block {
  margin: 0;
  padding: 0 15px;
  background-color: #EAEAEA;
  color: #34495e;
  font: bold 1rem 'Roboto', sans-serif;
  min-height: 150px;

}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3em;
}

.board-field {
  margin-bottom: 5px;
}

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #EAEAEA;
  color: #FF2E63;
}

.newGameButton {
  color: #EAEAEA;
  background: #138496;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
  padding: 15px;
  width: 100%;
  cursor: pointer;
}

.newGameButton:hover {
  background-color: #34495e;
  color: #FF2E63;
}

.cell {
  width: 85px;
  height: 85px;
  box-sizing: border-box;
  border: 3px solid #138496;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.board:nth-child(3) .cell {
  border-bottom: none;
}

.cell {
  border-top: none;
  border-left: none;
}

.cell:nth-child(3) {
  border-top: none;
  border-right: none;
}

