<div class="wrapper">
  <div class="info-block">
    <h5 *ngIf="playWithAI">You play with Computer, difficulty: {{difficultRound ? 'Hard' : 'Low'}}</h5>
    <div *ngIf="player"><p>You play {{player?.symbol}}</p></div>
    <h4 *ngIf="gameMessage"> {{gameMessage}}</h4>
    <h4 *ngIf="!gameStartedStatus">Select role</h4>
    <div *ngIf="!gameStartedStatus">
      <button class="btn btn-primary btn-lg" (click)="selectPlayer('X')"> Select X</button>
      <button class="btn btn-primary btn-lg" (click)="selectPlayer('O')"> Select 0</button>
    </div>
  </div>
  <div class="board-field">
    <div class="board" *ngFor="let row of [0,1,2]">
      <div
        *ngFor="let col of [0,1,2]"
        class="cell"
        (click)="processMove(col+row*3)"
      >
        {{isNumber(squares[col+row*3]) ? '' : squares[col+row*3]}}
      </div>
    </div>
  </div>
  <div>
    <button class="newGameButton" (click)="startNewGame()">New Game</button>
  </div>

</div>
