/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Juice';
  src: url('/assets/fonts/JUICE_Regular.ttf');
}
@font-face {
  font-family: 'Juice';
  src: url('/assets/fonts/JUICE Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('/assets/fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('/assets/fonts/Roboto-Medium.ttf');
}


html,
body {
  height: 100%;
}
p{
  margin: 0;
}

/*main colors
blue #138496
black #34495e
pink #FF2E63
white #EAEAEA

*/
